* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #FAFAFA;
}
.cont {
    background-color: #FAFAFA;
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;


}
.left {
    width: 390px;
    height: 800px;
    float: left;
    background-color: #FAFAFA;
    margin-top: 44px;
    margin-left: 100px;
}

.desc{
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size:12px;
}

.rd {
    border: 1px #CBC7C6 solid;
    width: 360px;
    height: 100px;
    float: right;
    background-color: white;
    margin-top: 15px;
    margin-right: 122px;
}
.rd p{
    padding-left: 65px;
    padding-top: 30px;
}
.rd a{
    color: blue;
    text-decoration: none;
}

.rd a:hover{
    color: blue;
    text-decoration: underline;
}

.right {
    border: .5px solid #CBC7C6;
    width: 360px;
    height: 550px;
    float: right;
    background-color: white;
    margin-top: 70px;
    margin-right: 122px;

}
.ins img{
    padding-left: 80px;
    padding-top: 20px;
    width: 190px;
    height: 80px;
}
.desc{
    font-family: Georgia;
    font-size: 16px;
    color:gray;
    font-weight: bold;
    padding-left: 20px;
    float: center;
}
.instr img{
    padding-left: 0px;
    padding-top: 80px;
    width: 390px;
    height: 600px;
}
.logwith {
    margin-left: 20px;
    font-size: 14px;
    width: 160px;
    height: 20px;
}
.face {
    width: 300px;
    height: 30px;
    border: 0px solid darkblue;
    border-radius: 5px;
    margin-top:20px;
    float: center;
    margin-left:auto;
    margin-right: auto;
    background-color: #3897F0;
    font-size: 16px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    color: white;
    font-weight: bold;
    cursor: pointer;
}



.first {
    margin-top: 40px;
    margin-left: 20px;
    width: 300px;
    height: 20px;
}
.signup {
    width: 100px;
    margin-left: 10px;
    margin-top: 40px;
    height: 150px;
    border-radius: 10px;
    display: inline;
}
.sign {
    width: 300px;
    height: 30px;
    margin-top: 2px;
    color: gray;
    border: 1px solid #CBC7C6;
    border-radius: 5px;
    padding: 2px;
    font-size: 14px;
    display: inline;
}
.log {
    margin-left: 20px;
    font-size: 14px;
    width: 160px;
    height: 20px;
}
.login {
    width: 300px;
    height: 30px;
    border: 0px solid darkblue;
    border-radius: 5px;
    margin-top:20px;
    float: center;
    margin-left:auto;
    margin-right: auto;
    background-color: #3897F0;
    font-size: 16px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.eq {
    width: 200px;
    margin-left: 40px;
    margin-top: 40px;
    font-family: Georgia;
    font-size: 12px;
    color:gray;
    padding-left: 20px;
    text-align: center;
    line-height: 20px;
}

.ref{
    float:left ;
    width: 100%;
    display: inline;
    background-color: white;
    color: rgb(101,119,134);
    text-align: center;
    cursor: pointer;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 12px;
    line-height: 40px;
    text-decoration:none;
    word-spacing: 10px;
}

footer{
    text-decoration: none;
}

.box3-content{
    width: 300px;
    display: inline-block;
    border: none;
    margin-top: 10px;
    margin-left:50px ;
    padding: 15px;
    border-radius: 4px;
}

.box3 img{
    width: 45%;
}

.google{
    width: 20%;
}

.get{

    text-align: center;
}

.mob{
    display: inline;
}